<ion-view view-title="Fitness">
  <ion-content class="padding">
    <div class="profile">
      <img start class="userlogo" src="img/ck.png" height="80px;">
      <h2>Charlie Kim</h2>
      <img start class="userlogo" src="img/fitness.png" height="40px;">
      <h4>Log Your Workout</h4>
      <p class="grey margin_lr_30">
        Welcome back Charlie. Team Can't Stop, Won't Stop are <b>4 workouts</b> away from <b>100% conversion</b>.
      </p>

      <button class="button" ion-button>Default</button>
    <button ion-button>Default</button>
    <button ion-button>Default</button>
    <button ion-button>Default</button>
    <button ion-button>Default</button>
    <button ion-button>Default</button>
    <button ion-button>Default</button>
    <button ion-button>Default</button>
    </div>

    

  </ion-content>
</ion-view>