<ion-view view-title="My Team">
  <ion-content class="pad_left" style="background: beige;">
  	<h2 class="pad_left" style="font-family: muli;padding-top:10px;">Can't Stop, Won't Stop</h2><br/>
    <ion-list style="font-family:Montserrat;font-size:16px;">
    	4	Charlie Kim<i class="icon ion-thumbsup pad_right"></i><br/><br/>
    	4	Chenxi Su (C)<i class="icon ion-thumbsup pad_right"></i><br/><br/>
    	3	Emma Hsieh<i class="icon ion-thumbsup pad_right"></i><br/><br/>
    	3	Nicole Depaola<i class="icon ion-thumbsup pad_right"></i><br/><br/>
    	1	Sophia Boubal<br/><br/>
    	1	Angela Cavallaro<br/><br/>
    	1	Jasmin Lau
    </ion-list>
  </ion-content>
</ion-view>